extend layout

block content
    h1= article.title
    h5 Written by #{author}
    p= article.body
    hr
    if user
        if user.id ==article.author
            a.btn.btn-primary(href='/articles/edit/'+article._id) Edit
            a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
    hr
    h6 Comment :
    ul.list-group
        each comment, i in comments
            li.list-group-item
                h5=comment.writer
                p="said: "+comment.body
    hr
    if user
         form(method='POST',action='/articles/'+article._id)
            #form-group
                label Add Comment:
                textarea.form-control(name='body')
            br
            input.btn.btn-primary(type='submit',value='Submit')
